/* mashup of resources including: https://www.w3schools.com/bootstrap/bootstrap_navbar.asp,
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav
https://www.quackit.com/css/css_color_codes.cfm
https://www.w3schools.com/colors/colors_names.asp */

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* fill viewport, hide scroll bar */
html, body
{
    height: 100%;
    overflow: hidden;
}

/* ensure content is below navbar */
div.container-fluid
{
    padding-top: 56px;
}

/* fill viewport */
div.container-fluid, div.row, div.col, div.jumbotron
{
    height: 100%;
}

/* remove padding within column */
div.col
{
    padding-left: 0;
    padding-right: 0;
}

/* add padding around form */
form
{
    padding: 0px;
}

/* wrap and scroll preformatted text */
pre
{
    height: 100%;
    overflow: auto;
    padding: 0px;
    white-space: pre-wrap;
}

/* highlight spans */
span
{
    background-color: #ff0;
}

