{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <p>
        <br>
        <br>
        <br>
        <br>
        <p style="font-size:120%;color:black;font-family:Helvetica;text-align:left;">Meet the team behind Heartbeat!<br><br>
        Betsy Thompson<br>
        Year: Extension School<br>
        Home: Vermont<br>
        Bad habits: avid procrastinator<br>
        Outside of CS50: puppy lover, yogi, rock climber <br>
        <br>
        Megan Petroski<br>
        Year: Extension School<br>
        Home: Vermont<br>
        Bad habits: overly caffeinated<br>
        Outside of CS50: knitter, mountain & road biker, yogi, rock climber <br>
    </p>
{% endblock %}