{% extends "layout.html" %}

{% block title %}
    Compare
{% endblock %}

{% block main %}
<br><br><br><br>
<!--portion modified from pset 6-->
<div class="col">
<div align="left">
    <form action="/compare" enctype="multipart/form-data" method="post">
        <div class="form-group">
        First file for comparison:<br>
            <input class="form-control-file" name="file1" type="file"/>
        </div>
        <div class="form-group">
        Second file for comparison:<br>
            <input class="form-control-file" name="file2" type="file"/>
        </div>
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="algorithm" type="radio" value="lines"/>
                    Compare lines
                </label>
            </div>

        </div>
        <button class="btn btn-primary" type="submit">Compare</button>
    </form>
</div>
{% endblock %}
