{% extends "layout.html" %}

{% block title %}
    Comparison
{% endblock %}

{% block main %}
    <p>
        <br>
        <br>
        <br>
        <br>
        <form action="/download">
            <div class="form-group">
            <select class="form-control-file" name="runs" type="runs">
                <option disabled selected value="">Choose a run to download</option>
                {% for run in runs %}
                    <option value="{{ run.buildnumber }}">{{ run.buildnumber }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Download</button>
    </form>
</select>
    </div>
    </p>
{% endblock %}