{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <p>
        <br><br><br><br>
        <h1>Heartbeat How-To:</h1><br>
        <p style="font-size:110%;color:black;font-family:Helvetica;text-align:left;">This website is designed to display the results of the Heartbeat query system. This sysytem runs nightly on our boundary data products.<br> Users can view results with a product name and run number
        on the Results page. The Query page shows the queries and gives a brief description of each used to obtain the result. Finally, the Comparison page allows a
        user to pick 2 runs for a product and download the CSV representation and upload them to compare them against one another. Below you can view the external release calendar, which tells you when each product is due for 2018. </p>
        <br><br>
        <!--https://www.w3schools.com/html/html_iframe.asp-->
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRpbMrEy37pT4mbjgg8cjbKcd4amoJophePAHM8FBwg-JP0T5svbWsIoSuh7xao51cVIZIbbGl8WkpJ/pubhtml?widget=true&amp;headers=false" height="300" width="1100"></iframe>
        <br><br><br>
        <!--https://www.inmotionhosting.com/support/edu/website-design/inserting-links-into-website/creating-an-email-link-in-your-webpage-->
        <p style="font-size:110%;color:black;font-family:Helvetica;text-align:left;">Have a query suggestion? <a href="mailto:megan.petroski@pb.com">Contact Us</a></p>
    </p>
{% endblock %}