{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <p>
        Heartbeat How-To:<br>
        This website is designed to display results of the Heartbeat query system. Users can view results with a product name and run number
        on the Results page. The Query page describes the query and the SQL used to obtain the result. Finally, the Comparison page allows a
        user to pick 2 runs for a product and compare them against one another and see the differences between the 2 highlighted.


        <br>
        <br>
        And a basic calendar<br>
        {{ cal }}
         <br>
         <br>
         <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTNf9EAq2AUisMywx9SUMUpvYDBpsu3pob1KHz-HEyd5tZ-3FV9kEbD5i0armRZh4Sz04xWyEro8xxX/pubhtml?widget=true&amp;headers=false"></iframe>

        <br>
        <br>

        Requirements for this page: how to use website, calendar of internal/external product release
    </p>
{% endblock %}